<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <%= form_for(:session, url: sign_in_path, html: { class: "box" }) do |f| %>
        <div class="field">
          <%= f.label :email  %>
          <%= f.email_field :email, class: "input", placeholder: "mail@example.com" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, class: "input", placeholder: "******" %>
        </div>
        <div class="field">
          <%= f.submit "SIGN IN ", class: "button is-primary is-fullwidth" %>
          <p class="help is-danger">
            <%= link_to "Don't have acount yet?", sign_up_path %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
