<div class="row valign-wrapper signup-card">
  <div class="col s12 m6 l4 offset-m3 offset-l4 card">
    <%= form_for(:session, url: sign_in_path) do |f| %>
    <div class="card-content">
      <div class="input-field">
        <%= f.email_field :email, class: "validate", placeholder: "mail@example.com" %>
        <%= f.label :email %>
      </div>
      <div class="input-field">
        <%= f.password_field :password, class: "validate", placeholder: "******" %>
        <%= f.label :password %>
      </div>
      <div class="input-field">
        <%= f.submit "SIGNIN ", class: "btn waves-effect waves-light" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
