<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <%= form_for @user, html: { class: "box" } do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "input", placeholder: "Michael Jordan" %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: "input", placeholder: "mail@example.com" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: "input", placeholder: "******" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "input", placeholder: "******" %>
      </div>
      <div class="field">
        <%= f.submit "SIGNUP ", class: "button is-primary is-fullwidth" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
