<!DOCTYPE html>
<html>
  <head>
    <title>Cios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container main-container">
      <%= yield %>
    </div>
    <% unless flash.empty? %>
    <script>
      <% flash.each do |type,message| %>
      // typeがnoticeなら緑のカラーリングをする
      <% color = 'green lighten-5 green-text' if type == 'notice' %>
      // typeがalertなら赤のカラーリングをする
      <% color = 'red lighten-5 red-text' if type == 'alert' %>
      M.toast({html:'<%= message %>',classes:'<%= color %>'})
      <% end %>
    </script>
    <% end %>
  </body>
</html>
